:root {
  --clr-primary-100: hsl(15, 97%, 70%);
  --clr-primary-200: hsl(15, 98%, 60%);
  --clr-primary-300: hsl(15, 100%, 49%);
  --clr-primary-400: hsl(15, 100%, 40%);
  --clr-primary-500: hsl(15, 100%, 30%);
  --clr-primary-600: hsl(15, 100%, 20%);

  --clr-secondary-100: hsl(39, 100%, 81%);
  --clr-secondary-200: hsl(39, 100%, 74%);
  --clr-secondary-300: hsl(39, 100%, 68%);
  --clr-secondary-400: hsl(39, 63%, 56%);
  --clr-secondary-500: hsl(39, 52%, 45%);
  --clr-secondary-600: hsl(39, 57%, 33%);

  --clr-neutral-300: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(270, 9%, 17%);
  --clr-neutral-500: hsl(273, 4%, 51%);
  --clr-neutral-600: hsl(0, 0%, 98%);
  --clr-neutral-700: hsl(0, 0%, 0%);

  --clr-text: hsl(0, 0%, 43%);
  --clr-surface: : hsl(0, 0%, 100%);

  --clr-success-100: rgb(217, 242, 239);
  --clr-success-200: rgb(176, 228, 221);
  --clr-success-300: rgb(0, 169, 145);
  --clr-success-400: rgb(0, 152, 131);
  --clr-success-500: rgb(0, 135, 116);
  --clr-success-600: rgb(0, 127, 109);
  --clr-success-700: rgb(0, 101, 87);

  --clr-error-50: hsl(0, 100%, 95%);
  --clr-error-75: rgb(255, 150, 150);
  --clr-error-100: rgb(255, 107, 107);
  --clr-error-200: rgb(255, 43, 43);
  --clr-error-300: rgb(255, 0, 0);
  --clr-error-400: rgb(179, 0, 0);
  --clr-error-500: rgb(156, 0, 0);

  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.75rem;
  --fs-600: 2rem;
  --fs-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --fs-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --fs-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --fs-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);


  --ff-base: "Fira Sans", sans-serif;
  --ff-secondary: "Sora", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

 html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-surface);
  color: var(--clr-text);
  line-height: 1.5;
  font-size: var(--fs-300);
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-base);
  font-weight: var(--fw-light);
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/******************** LAYOUT classes ******************/


.wrapper {
  max-width: 70rem;
  width: 95%;
  margin-inline: auto;
}

.flow-spacer > * + * {
  margin-top: var(--spacer, 1rem);
}



/******************** Utitlity classes ******************/

.flex {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap, 1rem);
}

.split {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .split > * {
    flex-basis: 30%;
    min-width: 15em;
  }
  
  .spacing > * + * {
    margin-top: var(--spacer, 2rem);
  }

/******************** COMPONENTS classes ******************/

.btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border: 0;
    padding: 0.85em 2.5em;
    border-radius: 7px;
    font-size: var(--fs-200);
    font-weight: var(--fw-regular);
    text-align: center;
  }
  
  .btn--primary {
    color: var(--clr-neutral-300);
    background: var(--clr-primary-300);
  }
  
  .btn--primary:hover, .btn--primary:focus-within {
      background: var(--primary-clr-400);
  }
  
  .btn--outline {
    color: var(--primary-clr-300);
    background: var(--neutral-clr-600);
  }
  


  
.rounded-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-secondary-300);

    .bx {
        color: #fff;
    }
}