  /****Color Styles*/

  /****Bargain Parrot Dark Orange Text****/
  .bp-text-dark {
    color: #FC4100;
  }

  /****Bargain Parrot Ligh Orange Text****/
  .bp-text-light {
    color: #FFC75F;
  }


/****Buttons****/
  .bp-btn-dark {
    background-color: #FC4100;
    color: white;
    font-weight: 300;
  }

  .bp-btn-dark:hover {
    background-color: #FFC75F;
  }

  .bp-btn-light {
    background-color: #FFC75F;
    color: white;
    font-weight: 100;
  }

  .bp-btn-light:hover {
    background-color: #FC4100;
  }

  /*Bargain Parrot Dark Orange Background*/
  .bp-bg-dark {
    background-color: #FC4100;
  }

  /*Bargain Parrot Light Orange Background*/
  .bp-bg-light {
    background-color: #FFC75F;
  }

  a {
    text-decoration: none;
    color: #FC4100;
  }

  .sora-font {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

.nav-input-container {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

    input {
        border: none;
        outline: none;
        box-shadow: none;
        flex: 1;
        background-color: transparent;
        padding-left: 0.5rem;
    }

    input:focus {
        outline: none;
        box-shadow: none;
    }

    input::placeholder {
        color: #999;
    }
    
    .search-icon {
        color: #999;
    }


    .uk-flag {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 50%;
    }

    .dropdown-toggle::after {
        display: none;
    }
}


.icon-button {
    background-color: #FFC75F;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .account-button {
    background-color: #FFC75F;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }

  .account-button i {
    margin-right: 10px;
  }

/*Login Styles*/
#userLogin {

  .modal_closebtn { 
    font-size: 2em;
  }

  .social_login button {
    border-width: 2px;
  }

  .social_login button:hover {
    background-color: transparent;
  }
 
  .form-control {
    border: 2px solid #00000010;
    background-color: #F6F6F6;
  }

  .form-control:focus {
    border-color: none !important;
    box-shadow: none !important;
  }

  .togglePassword {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  button:hover{
    background-color: #FFC75F;
  }

}